:root {
  --color-primary: #63e2b7;
  --color-primary-click: #59cba4;
  --color-primary-hover: #77f9cb;
  --color-primary-disabled: #95dbb750;

  --color-secondary: #4dacee;
  --color-secondary-click: #459bd6;
  --color-secondary-hover: #61bfff;
  --color-secondary-disabled: #75bfff50;

  --color-tertiary: #ffc400;
  --color-tertiary-click: #e6b000;
  --color-tertiary-hover: #ffd833;
  --color-tertiary-disabled: #ffc40050;

  --color-natural: #ccc;
  --color-natural-click: #b8b8b8;
  --color-natural-hover: #e0e0e0;
  --color-natural-disabled: #cccccc50;

  --color-successful: #4caf50;
  --color-successful-click: #429b46;
  --color-successful-hover: #60c35b;
  --color-successful-disabled: #74af5b50;

  --color-warning: #ffeb3b;
  --color-warning-click: #e6d42c;
  --color-warning-hover: #fff55a;
  --color-warning-disabled: #ffeb3b50;

  --color-danger: #f44336;
  --color-danger-click: #dc3d31;
  --color-danger-hover: #f46154;
  --color-danger-disabled: #f4433650;

  --color-background: #ffffff;
  --color-background-secondary: #dadada;
  --color-background-code: #242424;
  --color-text: #1d1d1f;
  --color-text-primary: #000000;
  --color-text-secondary: #86868b;

  --color-button-primary: #4dacee;
  --color-button-primary-hover: #61bfff;
  --color-button-primary-disabled: #75bfff50;

  --color-button-secondary: #e5e5ea;
  --color-button-secondary-hover: #d1d1d6;
  --color-button-secondary-disabled: #f2f2f7;
}

.dark {
  --color-background: #181818;
  --color-background-secondary: #242424;
  --color-background-code: #242424;
  --color-text: #fff;
  --color-text-primary: #fff;
  --color-text-secondary: #ccc;

  --color-button-secondary: #303030;
  --color-button-secondary-hover: #404040;
  --color-button-secondary-disabled: #a4a4a4;
}
